body {
    text-align: center;
    line-height: 1.1;
    background: url(background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#description {
    color: #333333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 100px;
}
h1 {
    display: block;
    font-size: 36px;
    font-weight: 500;
    height: 39px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#lead {
    font-size: 21px;
    font-weight: 200;
    height: 29px;
}
#katakana {
    font-weight: bold;
    font-size: 4em;
}
#togo {
    font-weight: bold;
    font-size: 2.5em;
}
#english {
    font-size: 2em;
    height: 2.2em;
    text-align: center;
    margin-bottom: 100px;
}
button {
    visibility: hidden;
}
a {
    margin-top: 100px;
    color: #2500F5
    font-weight: 300;
    font-size: 2em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
}
